; [Unit]
; Description=Start tmux
; Documentation=man:tmux(1)
;
; [Service]
; Type=forking
; RemainAfterExit=yes
; ExecStart=/bin/bash -l -c '/usr/local/bin/tmux new-session -d'
; ExecStop=/usr/local/bin/tmux kill-server
;
; [Install]
; WantedBy=default.target
